*{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;

}


@media all and (min-width: 801px) {

    .big_nav {
        position: fixed;
        z-index: +2;
        min-height: 90px;
        width: 100vw;
        padding-top: 10px;
        background-color: #110b0b;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items:center;
        list-style: none;
    }

    .menu .menu_link {
        display: block;
        font-family: 'Agbalumo', sans-serif;
        color: #5787c5;
        font-size:calc(14px + 1.5vw);
        white-space: nowrap;
        text-decoration: none;
        border: dotted 3px #3f3e3e;
        padding: 0px 4px 0px 4px;
    }

    .dropdown {
        display: none;
    }
    
}



@media all and (max-width: 800px) {

    nav .big_nav {
        display: none;
    }
      
    .dropdown {
        width: 100vw;
        max-height: 15vw;
        background-color: #000000;
        position: fixed;
        z-index: +2;
        display: inline-block;
    }

    .dropbtn {
        background-color: #000000;
        color: #5787c5;
        font-family: 'Agbalumo', sans-serif;
        padding: 0.5vw 5vw 0vw 10vw;
        font-size: 6vw;
        cursor: pointer;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #5787c5;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
        z-index: +2;
    }
      
    .dropdown-content a {
        color: black;
        font-size: 18px;
        padding: 12px 25px;
        display: block;
        text-decoration: none;
    }
      
    .dropdown-content a:active {
        background-color: #f1f1f1
    }
    
    .dropdown:active .dropdown-content {
        display: block;
    }
}


.main {
    width: 100vw;
    background-color: #110b0b;
    background-image: url("../img/main_background.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.main .main_text {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 3rem;
}

.main .main_text h1{
    color: #DADBDD;
    font-size: 5vw;
}

.main .main_text h2 {
    font-family: 'Agbalumo', sans-serif;
    color: #5787c5;
    font-size: 4vw;
}


@media all and (max-width: 1030px) {
    .main {
        min-height: 100vw;
        background-image: url("../img/main_background_min.jpg");
        background-position: 0% 0%;
        background-size: 100vw;
        padding-top: 70px;
    }

    .main .main_text {
        text-align: center;
        margin-top: 20vw;
        margin-left: 10vw;
        font-size: 3rem;
    }
}


#bio{
    background-color: #dfe3ef ;
    /* padding-top: 5%; */
    background-image: url(../img/bio_background.jpg);
    background-repeat: no-repeat;
    background-position: 15% 100%;
    background-size: calc(400px + 20%);
}

#bio .content {
    margin-left: 50%;
}


#bio h2 {
    font-size: 5vw;
    margin: 8% 0 0 0;
}

#bio ul {
    width: 40vw;
    margin: 0 0 5% 0;
}

#bio ul li {
    list-style-type: circle;
    padding-top: 30px;
    font-size: calc(25px + 0.3vw);
}

@media all and (min-width: 1267px) {
    #bio img {
        display: none;
    }
    
    #bio hr {
        max-width: 200px;
    }
}

@media all and (max-width: 1266px) {
    #bio{
        background-image: none;
        min-height: 10px;
    }

    
    #bio .content {
        display: block;
        margin: 0 auto;
    }
    
    #bio h2 {
        text-align: center;
        font-size: 5vw;
        margin-top: 10%;
    }
    
    #bio .content img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 50vw;
        z-index: +1;
    }

    #bio .content hr {
        margin: 0px;
    }

    #bio .content ul {
        padding: 10% 10% 10% 10%;
        width: 90%;
        margin: 0px 0px 40px 5vw;
     
    }

    #bio .content ul li {
        font-size: calc(12px + 1.5vw);
    }
}




#what_happened {
    background-image: linear-gradient(to bottom right,#000,#52595D);
    padding: 6% 0px 4% 0px;
}

#what_happened .what_happened_img_title {
    color: #8C8C8C;
    font-size: calc(12px + 1vw);
}

#what_happened h2 {
    color: #DADBDD;
    font-size: 5vw;
    margin-bottom: 3%;
}

#what_happened .first {
    display: flex;
    justify-content: space-between;
}

#what_happened .first .what_happened_img {
    width: 48%;
}

#what_happened .first .what_happened_text1 {
    width: 48%;
}

#what_happened p {
    font-size: calc(17px + 0.5vw);
    color: #DADBDD;
    line-height: 40px;
}

#what_happened .what_happened_text2 p:first-child {
    text-align: center;
    font-family: 'Agbalumo', sans-serif;
    font-size: calc(17px + 0.6vw);
    color: #5787c5;
    margin-top: 30px;
}

@media all and (max-width: 1266px) {

    #what_happened .first .what_happened_img {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    #what_happened .first .what_happened_text1 {
        width: 100%;
    }

    #what_happened p {
        font-size: calc(17px + 1vw);
    }   
    
    #what_happened .what_happened_text2 p:first-child {
        font-size: calc(17px + 1.2vw);
    }    
}




.line1 {
    height: 8px;
    background-color: #5787c5;
}

.line1 {
    height: 8px;
    background-color: #cc6f6f;
}



#glory {
    padding-top: 80px;
}

#glory h2 {
    margin: 0px 0px 50px 20px;
}

#glory .glory_item2 {
    margin-bottom: 80px;
}

/* ??????? */
.card-image img {
    width: 200px;
}





#recipe {
    position: relative; /* This makes sure that the pseudo-element is positioned in relation to its parent */
    z-index: 0;
}

#recipe::before {
    content: ''; /* This comes with the peseudo-element before:: */
    display: block;
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/reciepe_background.jpeg'); /* Add your image URL here */
    background-size: cover;
    opacity: 0.4; /* This sets the opacity of the image */
    z-index: -1; /* This ensures that the image stays in the background */
}



/* #recipe .recipe_img {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    width: 100%;    
} */

#recipe .container {
    padding-top: 8%;
}

#recipe h2 {
    font-size: 5vw;
    /* margin: 8% 0 0 0; */
}

#recipe .recipe_subtitle {
    font-size: calc(17px + 1.3vw);
    font-weight: 500;
    /* margin-left: 20px; */
}

#recipe .recipe_main {
    display: flex;
    justify-content: space-between;
    margin: 8% 0px 3% 0px;
}

#recipe .recipe_main ul  {
    display: inline-block;
    width: 45%;
    color: #2F539B;
    font-size: calc(14px + 1.2vw);
    font-weight: 500;
}

#recipe .recipe_main ol {
    display: inline-block;
    width: 50%;
    color: #2F539B;
    font-size: calc(14px + 1.2vw);
    font-weight: 500;
}

#recipe .recipe_main ul li {
    list-style: circle;
}

#recipe .recipe_main li {
    color:#000;
    font-size: calc(12px + 1vw);
     line-height: 60px;
}

#recipe .recipe_quote{
    /* margin: 30px 0px 0px 0px; padding will give you a better result */
    padding: 7%;
    text-align: center;
    font-family: 'Agbalumo', sans-serif;
    font-size: calc(17px + 1.2vw);
    color: #2F539B;
}

@media all and (max-width: 1266px) {
    #recipe .recipe_main ul  {
        width: 100%;
    }

    #recipe .recipe_main ol  {
        width: 100%;
    }

    #recipe .recipe_main li {
        color:#000;
        font-size: calc(17px + 1vw);
         line-height: 30px;
    }
    
}


footer{
    height: 100px;
    background-color: #110b0b;
}

footer a{
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

footer img {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}