*{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;

}


@media all and (min-width: 691px) {

    .big_nav {
        position: fixed;
        z-index: +1;
        min-height: 90px;
        width: 100vw;
        padding-top: 10px;
        background-color: #110b0b;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    .menu .menu_link {
        display: block;
        font-family: 'Agbalumo', sans-serif;
        color: #5787c5;
        font-size:calc(14px + 1.5vw);
        white-space: nowrap;
        text-decoration: none;
        border: dotted 3px #3f3e3e;
    }

    .dropdown {
        display: none;
    }
    
}




@media all and (max-width: 690px) {

    nav .big_nav {
        display: none;
    }
      
    .dropdown {
        width: 100vw;
        max-height: 12vw;
        background-color: #000000;
        position: fixed;
        z-index: +2;
        display: inline-block;
    }

    .dropbtn {
        background-color: #000000;
        color: #5787c5;
        font-family: 'Agbalumo', sans-serif;
        padding: 0.5vw 0px 5vw 10vw;
        font-size: 6vw;
        cursor: pointer;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #5787c5;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
        z-index: +2;
    }
      

    .dropdown-content a {
        color: black;
        font-size: 18px;
        padding: 12px 25px;
        display: block;
        text-decoration: none;
    }
      
    .dropdown-content a:active {
        background-color: #f1f1f1
    }
    
    .dropdown:active .dropdown-content {
        display: block;
    }

/*       
      Change the background color of the dropdown button when the dropdown content is shown
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      } */
}




.main {
    width: 100vw;
    min-height: 100vh;
    background-color: #110b0b;
    background-image: url("../img/main_background.jpg");
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: 100% 0%;
}
/* main .container{
    margin-top: 5%; */
    /* height: 100vh; */
/* } */

.main .main_text {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
    font-size: 3rem;
}

.main .main_text h1{
    color: #DADBDD;
    font-size: 5vw;
}

.main .main_text h2 {
    font-family: 'Agbalumo', sans-serif;
    color: #5787c5;
    font-size: 4vw;
}


@media all and (max-width: 948px) {
    .main {
        min-height: calc(100vw);
        background-image: url("../img/main_background_min.jpg");
        background-position: 0% 0%;
        background-size: 100vw;
        padding-top: 70px;
    }

    .main .main_text {
        text-align: center;
        margin-top: 20vw;
        margin-left: 10vw;
        font-size: 3rem;
    }
}


#bio{
    /* padding: 0; */
    min-height: 100vh; 
    background-color: #dfe3ef ;
    padding-top: 5%;
    background-image: url(../img/bio_background.jpg);
    background-repeat: no-repeat;
    background-position: 15% 100%;
    background-size: 100vh;
}

#bio .container{
    /* margin: 0; */
}

#bio .content {
    
    margin-left: 50%;
    /* display: flex;
    justify-content: space-around; */

}


#bio h2 {
    /* text-align: center; */
    font-size: 3vw;
    /* margin-left: 3vw; */
}

/* 
.row-bio{
    margin-bottom: 0; 
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
 */


/* .col{
    font-size: 2vw;
    width: 50vw;
    padding: 2%;
} */

#bio ul {
    width: 40vw;
}

#bio ul li {
    list-style-type: circle;
    padding-top: 30px;
    font-size: 2vw;
}

@media all and (min-width: 1267px) {
    #bio img {
        display: none;
    }
    
}

@media all and (max-width: 1266px) {
    #bio{
        background-image: none;
        min-height: none;

    }

    
    #bio .content {
        display: block;
        margin: 0 auto;
        /* margin-left: 0;
        left: 50%;
        transform: translateX(-50%); */
    }
    
    #bio h2 {
        text-align: center;
        font-size: 5vw;
    }
    
    #bio .content img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 50vw;
        z-index: +1;

    }

    #bio .content ul {
        width: 100%;
    }

    #bio .content ul li {
        white-space: normal;
    }

}


#what_happened {
    background-image: linear-gradient(to bottom right,#000,#52595D);
    padding: 70px 0px 30px 0px;
}

#what_happened h2 {
    color: #DADBDD;
    margin: 0px 0px 50px 20px;
    text-align: center;
}

#what_happened p {
    font-size: 20px;
    color: #DADBDD;
    line-height: 40px;
    margin-top: -9px;
}

#what_happened .what_happened_img_title {
    color: #8C8C8C;
}

#what_happened .what_happened_text2 p:first-child {
    text-align: center;
    font-family: 'Agbalumo', sans-serif;
    font-size: 25px;
    color: #5787c5;
    margin-top: 30px;
}





.line1 {
    height: 8px;
    background-color: #5787c5;
}



#glory {
    padding-top: 80px;
}

#glory h2 {
    margin: 0px 0px 50px 20px;
}

#glory .glory_item2 {
    margin-bottom: 80px;
}

/* ??????? */
.card-image img {
    width: 200px;
}

#recipe {
    position: relative; /* This makes sure that the pseudo-element is positioned in relation to its parent */
    z-index: 0;
}

#recipe::before {
    content: ''; /* This comes with the peseudo-element before:: */
    display: block;
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQKsl0s0pTO9-xIMXPcp2Z3_vxph_nNqG1ig&usqp=CAU" alt="cookies" class="recipe_img"'); /* Add your image URL here */
    background-size: cover;
    opacity: 0.4; /* This sets the opacity of the image */
    z-index: -1; /* This ensures that the image stays in the background */
}



/* #recipe .recipe_img {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    width: 100%;    
} */

#recipe .container {
    padding-top: 80px;
}

#recipe h2 {
    margin: 0px 0px 10px 20px;
}

#recipe .recipe_subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}

#recipe .recipe_main {
    margin: 60px 0px 30px 0px;
}

#recipe .recipe_main ul, ol  {
    color: #2F539B;
    font-size: 30px;
    font-weight: 500;
}

#recipe .recipe_main ul li {
    list-style: circle;
}

#recipe .recipe_main li {
    color:#000;
    font-size: 24px;
     line-height: 40px;
}

#recipe .recipe_quote{
    /* margin: 30px 0px 0px 0px; padding will give you a better result */
    padding: 7%;
    text-align: center;
    font-family: 'Agbalumo', sans-serif;
    font-size: 25px;
    color: #2F539B;
}


footer{
    height: 100px;
    background-color: #110b0b;
}

footer a{
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

footer img {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}